<p>Статичные документы:
<ul>
  <li><a href="public">Каталог статичных документов</a>
  <li><a href="public/ab_nginx_test.txt">Результат тестирования производительности nginx</a>
  <li><a href="public/ab_wsgi_test.txt">Результат тестирования производительности gunicorn</a>
</ul>

<p>WSGI:
<ul>
  <li><a href="http://168.138.12.15:9010">gunicorn - выполняет тест производительности nginx</a>
  <li><a href="WSGI">Тот же самый gunicorn через прокси</a>
</ul>

<p>DJANGO:
<ul>
  <li><a href="login">login</a>
  <li><a href="logout">logout</a>
  <li><a href="search_item">Поиск по объявлениям</a>
  <li><a href="search_cat">Поиск по категориям</a>
  <li><a href="feed">feed</a>
  <li><a href="add_item_form">Добавление объявления</a>
</ul>
